<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!--friendly to mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
    <title>Profile</title>
    <link rel="icon" href="/icon/website.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Fira+Sans" rel="stylesheet">


</head>
<body>
<div class="layout layout-nav-side">
    <div class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #4abdac">
        <a class="navbar-brand text-center" href="/"
           style="font-size:2rem; margin-left:auto; margin-right:auto">
            OURCODES
        </a>
        <%if(currentUser){%>
        <div class="navbar-brand text-center"
             style="font-size:1rem; margin-top: -3em; margin-left:auto; margin-right:auto" cnavbar-brand text-center> Welcome <%=currentUser.username%></div>
        <%}%>

        <div class="collapse navbar-collapse flex-column" id="navbar-collapse">
            <%if(currentUser){%>
            <!--TODO currentUser in passport will not update automatically-->
            <%if(me.avatar) {%>
            <img id="logo" src="<%=me.avatar%>" class="avatar" alt=""
                 style="width:50px;height:50px;margin-left:auto; margin-right:auto">
            <%} else {%>
                <img id="logo" src="/icon/anonymous.png" class="avatar" alt=""
                     style="width:50px;height:50px;margin-left:auto; margin-right:auto">
            <%}%>
            <%} else {%>
                <img id="logo" src="/icon/anonymous.png" class="avatar" alt=""
                     style="width:50px;height:50px;margin-left:auto; margin-right:auto">
                <div class="nav-sign btn-group text-center" style="margin-left:auto; margin-right:auto; font-weight:bold">
                    <a class="nav-sign" href="/register" id="signup">Sign up</a>
                    <a class="nav-sign" href="/login" id="signin">Sign in</a>
                </div>
                <div class="nav-bottom text-center" style="margin: 100px auto 0 auto;">
                </div>
            <%}%>



            <div class="d-none d-lg-block" style="margin-bottom: 1em; position: absolute; bottom: 24px;">
                <hr>
                <form method="get" action="/search">
                    <div class="input-group input-group-dark input-group-round">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">search</i>
                            </span>
                        </div>
                        <input type="search" name="author" class="form-control form-control-dark" placeholder="Search author"
                               aria-label="Search app" aria-describedby="search-app">
                    </div>
                </form>
                <div class="dropup"style="margin-top: 1em">
                    <%if(currentUser){%>
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="Image" src='/icon/settings-e6e6e6.png' class="avatar" style="width:50px;height:50px;margin-left:auto; margin-right:auto"/>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/profiles/<%=currentUser.id%>" class="dropdown-item">Profile</a>
                        <a href="/logout" class="dropdown-item">Log Out</a>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>

    </div>
        <div class="rela-block container">
        <div class="rela-block profile-card">
            <img class="profile-pic" id="profile_pic" src="<%=user.avatar%>" class="avatar" alt="">

            <div class="rela-block profile-name-container">
                <div class="rela-block user-name" id="user_name"><%=user.username%></div>
            </div>

            <div style="text-align: center;margin: 20px 0;">
                <button id="follow-btn" class="btn btn-outline-primary follow">
                <span class="msg-follow" id="follow_button">Follow</span>
                <span class="msg-follow-ing" id="following_button">Following</span>
                <span class="msg-unfollow" id="delete_button">Unfollow</span>
                </button>
            <!--TODO            -->
            </div>
            <div class="rela-block profile-card-stats">
                <ul class="nav profile-tab">
                    <li class="floated profile-stat">
                        <a data-toggle="tab" href="#coderoom-lists">
                            <div class="coderooms" id="num_coderooms">
                                <%=allcoderooms.length%><br>
                            </div>
                        </a>
                    </li>
                    <li class="floated profile-stat">
                        <a data-toggle="tab" href="#follower-list">
                            <div class="followers" id="num_followers">
                                <span id="num_followers_inner"><%=user.follower.length%></span><br>
                            </div>
                        </a>
                    </li>
                    <li class="floated profile-stat">
                        <a data-toggle="tab" href="#following-list">
                            <div class="following" id="num_following">
                                <%=user.following.length%><br>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="tab-content">
            <div id="coderoom-lists" class="tab-pane tab-item active">
                <div class="row content-list-head mt-5">
                    <div class="col-auto">
                        <h3>CodeRooms</h3>
                    </div>

                </div><!--end of content list head-->

                <div class="content-list-body">
                    <div class="card-list">
                        <div class="card-list-body">

                            <% allcoderooms.forEach(function(coderoom){ %>
                            <div class="card card-task">
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                         style="width: 100%"></div>
                                </div>
                                <div class="card-body">
                                    <div class="card-title">
                                        <a href="/coderooms/<%=coderoom._id%>">
                                            <h6 data-filter-by="text"><%= coderoom.name%></h6>
                                        </a>
                                        <div class="text-small"
                                             style="max-width:400px; overflow:hidden; text-overflow:ellipsis; white-space: nowrap;">
                                            <%= coderoom.description%>
                                        </div>
                                        <p class="text-small" style="margin-top: 1rem;"><a href="/profiles/<%= coderoom.author.id%>">Author:<%= coderoom.author.username%></a></p>

                                    </div>
                                    <div class="card-meta">
                                        <div class="card-likeordislike">
                                            <div class="card-likenum">
                                                <%= coderoom.upvote.length - coderoom.downvote.length%>
                                            </div>
                                        </div>
                                        <div>
                                            <form method="get" action="/coderooms/<%=coderoom._id%>">
                                                <button type="submit" class="btn btn-outline-primary">Enter
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% })%>

                        </div>
                    </div><!--end of content list body-->
                </div>
            </div>    <!--end of coderoom list tag-->

            <div id="follower-list" class="tab-pane tab-item">
                <div class="row content-list-head mt-5">
                    <div class="col-auto">
                        <h3>Follower</h3>
                    </div>
                </div><!--end of content list head-->

                <div class="content-list-body">
                    <ul id="follower-list" class="profile-ul">
                        <%user.follower.forEach(function(person) {%>
                            <li class="profile-li" id="follower<%=person._id%>">
                                <a href="/profiles/<%=person._id%>">
                                    <img style="width:50px;height:50px;" src='<%=person.avatar%>' class="profile-ava-li" alt="<%=person.username%>"/>
                                </a>
                            </li>
                        <%})%>
                    </ul>
                </div>
            </div>

            <div id="following-list" class="tab-pane tab-item">
                <div class="row content-list-head mt-5">
                    <div class="col-auto">
                        <h3>Following</h3>
                    </div>
                </div><!--end of content list head-->

                <div class="content-list-body">
                    <ul id="following-list" class="profile-ul">
                        <%user.following.forEach(function(person) {%>
                            <li class="profile-li">
                                <a href="/profiles/<%=person._id%>">
                                    <img style="width:50px;height:50px;" src='<%=person.avatar%>' class="profile-ava-li" alt="<%=person.username%>"/>
                                </a>
                            </li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/javascripts/bootstrap/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/autosize.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/popper.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/prism.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/draggable.bundle.legacy.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/swap-animation.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/dropzone.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/list.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/theme.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
<script src="/javascripts/homepageJS.js"></script>
<script src="/javascripts/follow.js"></script>
<script>
    let follow_btn = $('#follow-btn');
    <%if (flag) {%>
        follow_btn.addClass('follow-ing');
        follow_btn.attr("onclick","unfollow('<%=user._id%>')");
    <%} else {%>
        follow_btn.removeClass('follow-ing');
        follow_btn.attr("onclick","follow('<%=user._id%>')");
    <%}%>
</script>
</html>