<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!--friendly to mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
    <title>Setting</title>
    <link rel="icon" href="/icon/website.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Fira+Sans" rel="stylesheet">


</head>
<body>
<div class="layout layout-nav-side">
    <div class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #4abdac">
            <a class="navbar-brand text-center" href="/"
                style="font-size:2rem; margin-left:auto; margin-right:auto">
                OURCODES
            </a>
            <%if(currentUser){%>
            <div class="navbar-brand text-center"
                    style="font-size:1rem; margin-top: -3em; margin-left:auto; margin-right:auto" cnavbar-brand text-center> Welcome <%=currentUser.username%></div>
            <%}%>
    
            <div class="collapse navbar-collapse flex-column" id="navbar-collapse">
                <%if(currentUser){%>
                    <!--TODO currentUser in passport will not update automatically-->
                    <%if(me.avatar) {%>
                        <img id="logo" src="<%=me.avatar%>" class="avatar" alt=""
                                style="width:50px;height:50px;margin-left:auto; margin-right:auto">
                    <%} else {%>
                        <img id="logo" src="/icon/anonymous.png" class="avatar" alt=""
                                style="width:50px;height:50px;margin-left:auto; margin-right:auto">
                    <%}%>
                <%} else {%>
                    <img id="logo" src="/icon/anonymous.png" class="avatar" alt=""
                            style="width:50px;height:50px;margin-left:auto; margin-right:auto">
                    <div class="nav-sign btn-group text-center" style="margin-left:auto; margin-right:auto; font-weight:bold">
                        <a class="nav-sign" href="/register" id="signup">Sign up</a>
                        <a class="nav-sign" href="/login" id="signin">Sign in</a>
                    </div>
                    <div class="nav-bottom text-center" style="margin: 100px auto 0 auto;">
                    </div>
                <%}%>

    
    
            <div class="d-none d-lg-block" style="margin-bottom: 1em; position: absolute; bottom: 24px;">
                <hr>
                <form>
                    <form method="get" action="/search">
                        <div class="input-group input-group-dark input-group-round">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">search</i>
                            </span>
                            </div>
                            <input type="search" name="author" class="form-control form-control-dark" placeholder="Search author"
                                   aria-label="Search app" aria-describedby="search-app">
                        </div>
                    </form>
                </form>
                <div class="dropup"style="margin-top: 1em">
                    <%if(currentUser){%>
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="Image" src='/icon/settings-e6e6e6.png' class="avatar" style="width:50px;height:50px;margin-left:auto; margin-right:auto"/>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/profiles/<%=currentUser.id%>" class="dropdown-item">Profile</a>
                        <a href="/logout" class="dropdown-item">Log Out</a>
                    </div>
                    <%}%>
                </div>
            </div>
            </div>

    </div>
    <div class="main-container">
            <div class="container">
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-3 mb-3">
                            <ul class="nav nav-tabs flex-lg-column">
                                <li class="nav-item">
                                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Your Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="coderooms-tab" data-toggle="tab" href="#coderooms" role="tab" aria-controls="coderooms" aria-selected="false">Coderooms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false">Following</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false">Follower</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-8 col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" role="tabpanel" id="profile" aria-labelledby="profile-tab">
                                                        <div class="media mb-4">
                                                            <img alt="Image" src="<%=me.avatar%>" class="avatar avatar-lg" />
                                                            <div class="media-body ml-3">
                                                                <div class="custom-file custom-file-naked d-block mb-1">
                                                                    <input type="file" class="custom-file-input d-none" id="avatar-file">
                                                                    <label class="custom-file-label position-relative" for="avatar-file">
                                                                        <span class="btn btn-primary">
                                                                            Upload avatar
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <small>For best results, use an image at least 256px by 256px in either .jpg or .png format</small>
                                                            </div>
                                                        </div>
                                                        <!--end of avatar-->
                                                        <form action="/profiles/<%=me.id%>?_method=PUT"  method="POST" >
                                                            <div class="form-group row align-items-center">
                                                                <label class="col-3">First Name</label>
                                                                <div class="col">
                                                                    <input type="text" placeholder="Please input your first name" value="<%=me.firstName%>" name="profileName" class="form-control" required />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row align-items-center">
                                                                <label class="col-3">Last Name</label>
                                                                <div class="col">
                                                                    <input type="text" placeholder="Please input your last name" value="<%=me.lastName%>" name="profileLastName" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row align-items-center">
                                                                <label class="col-3">Email</label>
                                                                <div class="col">
                                                                    <input type="email" placeholder="Please enter your email address" value="<%=me.email%>" name="profileEmail" class="form-control" required />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row align-items-center">
                                                                <label class="col-3">Location</label>
                                                                <div class="col">
                                                                    <input type="text" placeholder="Please enter your address" name="profileLocation" value="<%=me.city%>" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-3">Bio</label>
                                                                <div class="col">
                                                                    <!--TODO what is this postcode for-->
                                                                    <textarea type="text" placeholder="Tell us a little about yourself" name="profileBio" class="form-control" rows="4"> <%=me.postCode%></textarea>
                                                                    <small>This will be displayed on your public profile</small>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <button type="submit" class="btn btn-primary">Save</button>
                                                            </div>
                                                        </form>
                                        </div>
                                        <div class="tab-pane fade" role="tabpanel" id="coderooms" aria-labelledby="coderooms-tab">
                                                <div id="coderoom-lists" style="width: 100%;margin: 0 auto;">
                                                        <div class="content-list-body">
                                                                <div class="card-list">
                                                                    <div class="card-list-body">
                                                                        <%allcoderooms.forEach(function(coderoom){%>
                                                                        <div class="card card-task">
                                
                                                                            <div class="progress">
                                                                                <div class="progress-bar bg-warning" role="progressbar"
                                                                                     style="width: 100%"></div>
                                                                            </div>
                                                                            <div class="card-body">
                                                                                <div class="card-title">
                                                                                    <a href="#">
                                                                                        <h6 data-filter-by="text"><a href="/coderooms/<%=coderoom._id%>"><%=coderoom.name%></a></h6>
                                                                                    </a>
                                                                                    <div class="text-small"
                                                                                         style="max-width:400px; overflow:hidden; text-overflow:ellipsis; white-space: nowrap;">
                                                                                        description
                                                                                    </div>
                                                                                    <p class="text-small" style="margin-top: 1rem;"><a href="/profiles/<%=coderoom.author.id%>">Author:<%=coderoom.author.username%></a></p>
                                
                                                                                </div>
                                                                                <div class="card-meta">
                                                                                    <ul class="avatars" id="id">
                                                                                    </ul>
                                
                                                                                    <div class="dropdown card-options">
                                                                                        <button class="btn-options" type="button"
                                                                                                id="task-dropdown-button-1" data-toggle="dropdown"
                                                                                                aria-haspopup="true" aria-expanded="false">
                                                                                            <i class="material-icons">more_vert</i>
                                                                                        </button>
                                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                                            <form method="post" action="/coderooms/<%=coderoom._id%>?_method=DELETE">
                                                                                                <button type="submit" class="dropdown-item text-danger" >Delete room</button>
                                                                                            </form>
                                                                                            <div class="dropdown-divider"></div>
                                                                                            <form method="post" action="/coderooms/<%=coderoom._id%>/permission?_method=DELETE">
                                                                                                <button type="submit" class="dropdown-item" >Revoke permission</button>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card-likeordislike">
                                                                                        <div class="card-likenum">
                                                                                            <p><%= coderoom.upvote.length - coderoom.downvote.length%></p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div>
                                                                                        <form method="get" action="/coderooms/<%=coderoom._id%>">
                                                                                        <button type="submit" class="btn btn-outline-primary">Enter
                                                                                        </button>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                
                                                                            </div>
                                
                                                                        </div>
                                                                    <%});%>
                                                                    </div>
                                                                    <!--</div>-->
                                
                                                                </div>
                                
                                                                <!--**********************************************-->
                                                                <!--end of content list body-->
                                                        </div>
                                                    </div>

                                        </div>
                                        <div class="tab-pane fade" role="tabpanel" id="following" aria-labelledby="following-tab">
                                            <span>You are following <%=me.following.length%> people:</span>
                                            <div id="following-list mt-3" style="margin-top: 20px;">
                                                <% me.following.forEach(function(person) {%>
                                                    <div class="row one-user">
                                                        <a href="/profiles/<%=person._id%>">
                                                            <img id="logo" src="<%=person.avatar%>" class="avatar" alt="<%=person.username%>" style="width:50px;height:50px;"></a>
                                                        <button id="follow-btn" class="btn btn-outline-primary follow-ing">
                                                            <span class="msg-follow">Follow</span>
                                                            <span class="msg-follow-ing">Following</span>
                                                            <span class="msg-unfollow" onclick="unfollow('<%=person._id%>')">Unfollow</span>
                                                        </button>
                                                    </div>
                                                <%})%>
                                            </div> 
                                        </div>
                                        <div class="tab-pane fade" role="tabpanel" id="follower" aria-labelledby="follower-tab">
                                                <span>You are followed by <%=me.follower.length%> people:</span>
                                                <% me.follower.forEach(function(person) {%>
                                                <div id="follower-list" style="margin-top: 20px;">
                                                    <div class="row one-user">
                                                            <a href="/profiles/<%=person._id%>"><img id="logo" src="<%=person.avatar%>" class="avatar" alt="<%=person.username%>"
                                                            style="width:50px;height:50px;"></a>
                                                    </div>
                                                </div>
                                                <%})%>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/javascripts/bootstrap/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/autosize.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/popper.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/prism.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/draggable.bundle.legacy.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/swap-animation.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/dropzone.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/list.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/theme.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
<script src="/javascripts/homepageJS.js"></script>
<script src="/javascripts/image_uploader.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/follow.js"></script>
<script>
        $('#follow-btn').click(function(){
          var $this = $(this);
          $this.toggleClass('follow-ing')
          if($this.is('.follow-ing')){
            $this.addClass('wait');
          }
        }).on('mouseleave',function(){
          $(this).removeClass('wait');
        })
        </script>
</html>